<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twice"
        tools:targetApi="31">
        <activity
            android:name=".ImageInsideActivity"
            android:exported="false" />
        <activity
            android:name=".ImageInsideMainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!--
            SplashActivity가 다른 앱이나 시스템에서 시작되도록 하려면 AndroidManifest.xml 파일에서 해당 액티비티의 exported 속성을 true로 설정해야 합니다.
            Android 12(API 레벨 31)부터는 모든 액티비티, 서비스, 리시버에 대해 exported 속성을 명시적으로 설정해야 합니다.
            Android API레벨은 build.gradle.kts파일의 compileSdk의 숫자를 확인하면 된다.
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>